/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
	text-decoration: none;
}
/* CSS reset end*/

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

.wrap {
	width: 900px;
	margin: 0 auto;
}

/* Top Bar */
.top-bar {
	height: 30px;
	background: #E5E5E5;
}

.top-bar ul {
	margin-top: 5px;
	margin-right: 10px;
	float: right;
}

.top-bar ul li {
	float: left;
	padding-right: 10px;
}

.top-bar ul li img {
	float: left;
	margin-right: 5px;
}

.top-bar ul .fb-icon {
	border-right: 2px solid gray;
	margin-right: 10px;
}

.top-bar ul li a:hover {
	font-weight: bold;
}

/* Nav Bar*/
